body {
   background-image: url("../simg/wallBackground.jpg");
}

.yes {
  color:green;
}
/* page formatting */

.content h3 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.container .content {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}


/* links */

a, a:hover, a:active {
  color: #b30000;
}

/* nav bar */
.navbar-inverse .navbar-brand{
  background-color: #0000b1;
  border-color: #fff;
  color: #fff;
}

.navbar-inverse {
  background-color: #b30000;
  color: #fff;
  border-color: #fff;
}

.navbar-inverse .navbar-nav>li>a {

  color: #fff;
}

/* fieldset */
fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid #0000b1;
    width: 100%;
    line-height: 2rem;
}
legend {
    color: #0000b1;
}


/* action buttons */

.btn-group-sm>.btn, .btn-sm {
    padding:2px 5px;
    }

    /*Panel tabs */
.panel {
    padding: .1rem;
    background-color: #fff;
}

.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-heading {
    padding: 5px 5px;
}

h3.panel-title {
    padding: 5px 5px;
    border: hidden;
}

.panel-tabs > li {
    float: left;
    margin-bottom: 0;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid #b30000;
    border-radius: 4px 4px 0 0;
    color: #b30000;
}

.panel-tabs > li > a:hover {
    border-color: #b30000;
    color: #fff;
    background-color: #d15a54;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    border-color: #b30000;
    color: #fff;
    background-color: #be140b;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 4px 4px 0 0;
}
.panel-primary>.panel-heading {
    color: #be140b;
    background-color: #fff;
    border-color: #b30000;
    border-width: 5px;
}

div.panel-body table {

  background-color: #fff;

}

div.slim-panel .panel-body {

  padding:0;
  min-height: 300px;
  background-color: #fff;
}

div.slim-panel .panel-heading {

  font-weight: 450;
  color: #0000b3;
}
ol.fancyList {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  counter-reset: ordered-list;
}

ol.fancyList li {
  border-bottom: 1px solid #ccc;
    padding: 2px 2px 10px 20px;
  position: relative;
}



/* page title */

div.pageTitle h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 0;
  padding: 0;
  line-height: 1.3;
}
div.pageTitle h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 0;
  padding: 0;
  line-height: 1.3;
}
div.pageTitle h3 {

  margin: 0;
  padding: 0;
  line-height: 1.3;

}

h3.pageTitle {
  padding: 15px;
  text-transform: uppercase;
  background-color: #0000b1;
  color: #fff;
}

/* fancy page title */
/* https://wdexplorer.com/20-examples-beautiful-css-typography-design/ */

div.fpageTitle h1 {
  color: #0000b1;
  font-family: 'Open Sans Condensed', sans-serif; font-size: 32px; font-weight: 700; line-height: 10px; margin: 0 0 0; padding: 5px 10px; text-align: center; text-transform: uppercase; }
<<<<<<< HEAD

div.fpageTitle h2 {
  color: #b30000;
  font-family: 'Open Sans Condensed', sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; margin: 0 0 0; padding: 10px 10px; text-align: center; text-transform: uppercase; }

div.fpageTitle h2 {
  color: #b30000;
  font-family: 'Open Sans Condensed', sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; margin: 0 0 0; padding: 10px 10px; text-align: center; text-transform: uppercase; }

div.fpageTitle h3 {
  color: #0000b1;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif; font-size: 16px; font-weight: 400; line-height: 12px; margin: 0 0 0; padding: 5px 5px; text-align: center; text-transform: uppercase; }

div.fpageTitle p { color: #111; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; margin: 0 0 48px; }

div.fpageTitle a { color: #990000; text-decoration: none; }

div.fpageTitle a:hover { text-decoration: underline }

div.fpageTitle span.date {   color: #0000b1;
  font-family: 'Open Sans Condensed', sans-serif; font-size: 32px; font-weight: 300; line-height: 10px; margin: 0 0 0; padding: 5px 10px; text-align: center; text-transform: uppercase; }
x; }

/* page content */


/* side menu */

nav#actions-sidebar {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
nav#actions-sidebar ul,
nav#actions-sidebar ul li,
nav#actions-sidebar ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav#actions-sidebar ul {
  position: relative;
  z-index: 597;
  float: left;
}
nav#actions-sidebar ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
nav#actions-sidebar ul li.hover,
nav#actions-sidebar ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
nav#actions-sidebar ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
nav#actions-sidebar ul ul li {
  float: none;
}
nav#actions-sidebar ul ul ul {
  top: -2px;
  right: 0;
}
nav#actions-sidebar ul li:hover > ul {
  visibility: visible;
}
nav#actions-sidebar ul ul {
  top: 1px;
  left: 99%;
}
nav#actions-sidebar ul li {
  float: none;
}
nav#actions-sidebar ul ul {
  margin-top: 1px;
}
nav#actions-sidebar ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
nav#actions-sidebar {
  width: 200px;
  background: #009688;
  font-family: Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
}
nav#actions-sidebar:before {
  content: '';
  display: block;
}
nav#actions-sidebar:after {
  content: '';
  display: table;
  clear: both;
}
nav#actions-sidebar a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
nav#actions-sidebar > ul {
  width: 200px;
}
nav#actions-sidebar ul ul {
  width: 200px;
}
nav#actions-sidebar > ul > li > a {
  border-right: 4px solid #D50000;
  color: #ffffff;
}
nav#actions-sidebar > ul > li > a:hover {
  color: #ffffff;
}
nav#actions-sidebar > ul > li.active a {
  background: #F44336;
}
nav#actions-sidebar > ul > li a:hover,
nav#actions-sidebar > ul > li:hover a {
  background: #D32F2F;
}
nav#actions-sidebar li {
  position: relative;
}
nav#actions-sidebar ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
nav#actions-sidebar ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
nav#actions-sidebar ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
nav#actions-sidebar ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
nav#actions-sidebar ul ul {
  border: 1px solid #D50000;
}
nav#actions-sidebar ul ul a {
  font-size: 12px;
  color: #ffffff;
}
nav#actions-sidebar ul ul a:hover {
  color: #ffffff;
}
nav#actions-sidebar ul ul li {
  border-bottom: 1px solid #B71C1C;
}
nav#actions-sidebar ul ul li:hover > a {
  background: #B71C1C;
  color: #ffffff;
}
nav#actions-sidebar.align-right > ul > li > a {
  border-left: 4px solid #d50000;
  border-right: none;
}
nav#actions-sidebar.align-right {
  float: right;
}
nav#actions-sidebar.align-right li {
  text-align: right;
}
nav#actions-sidebar.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
nav#actions-sidebar.align-right ul li.has-sub > a:after {
  content: none;
}
nav#actions-sidebar.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
nav#actions-sidebar.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
nav#actions-sidebar.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
nav#actions-sidebar.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}


/* basic table */
table.basicTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #ccc;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table thead tr {
    border-bottom: 2px solid #4646c8;
}
/* basic table part 2
table.basicTable td, table.basicTable th {
  border: 1px solid #AAAAAA;
  padding: 7px 2px;
}
table.basicTable {
  border: 1px solid #0D0101;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.basicTable th a {
    color: #FFFFFF;
}
table.basicTable td, table.basicTable th {
  border: 0px solid #AAAAAA;
  padding: 8px 10px;
}
table.basicTable tbody td {
  font-size: 13px;
}
table.basicTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.basicTable thead {
  background: #0000B3;
  color: #FFFFFF !important;
}
table.basicTable thead th {
  font-weight: bold;
  color: #FFFFFF !important;
  text-align: left;
  border-left: 2px solid #0000B3;
}
table.basicTable thead th:first-child {
  border-left: none;
}
*/
/* basic table part 3 */
table.basicTable tfoot {
  font-size: 8px;
  color: #000 !important;
  background: #fafafa;
  border-bottom:2px solid #ccc;
  max-height: 10px;
}
table.basicTable tfoot td {
  font-size: 8px;
}
table.basicTable tfoot .links {
  text-align: right;
}
table.basicTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #0000B3;
  padding: 2px 8px;
  border-radius: 5px;
}

#threeColumns {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 10px;
-moz-column-gap: 10px;
column-gap: 10px;
-webkit-column-rule: 1px solid rgba(28,110,164,0.5);
-moz-column-rule: 1px solid rgba(28,110,164,0.5);
column-rule: 1px solid rgba(28,110,164,0.5);
}
/* footer */
#footer {
  background-color:#f5f5f5;
  padding:10px 0 5px;
  text-align:center;
}



ul.pagination {
   margin: 0px;
}
ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #b30000;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
    margin: 0;
    padding-right:10px;
}

.table {
  margin-top:15px;
}
.table>tfoot>tr>td {
  border:1px solid #ccc;
}

.table thead tr, .table tr th {
  border-bottom: 3px solid #0000b3;
  border-top: 1px solid #ccc;
}

.table thead tr th, .table thead tr th a {
    font-size: 0.975rem;
}

.table tr th, .table thead tr th {

  background-color: #f9f9f9;
}

.date select, .time select, .datetime select {
    display: inline;
    width: 100px;
    margin-right: 10px;
}
.datepicker,
.table-condensed {
  width: 300px;
  height:400px;
}
